@section scripts {
<script type="text/javascript" src="~/Scripts/sesg.users.client.js">
</script>

<script type="text/javascript" src="~/Scripts/sesg.users.pager.js">
</script>

<script type="text/javascript">
    var pager = null;

    $(document).ready(function () {
        pager = new SesgUserPager(sesg_user_client, gotUsers, getUsersError);
        
        $("#fetchNextUsersBtn").click(function () {
            pager.next();
        });
        $("#fetchPreviousUsersBtn").click(function () {
            pager.previous();
        });
        
        pager.fetch();
    });

    function gotUsers(data) {
        $resultsBody = $("#users > tbody");
        $resultsBody.html("");

        $.each(data, function (index, value) {
            var id = this.UserID;
            var userName = this.UserName;
            var company = this.Company;
            
            $row = $("<tr/>");
            $id = $("<td/>").text(id);
            $userName = $("<td/>").text(userName);
            $company = $("<td/>").text(company);
            $row.append($id).append($userName).append($company);
            $resultsBody.append($row);
        })
    }

    function getUsersError(xhr, status, error) {
        alert(error);
    }
</script>
}

<div id="body">
    <div style="padding: 10px;">
        <input type="submit" value="Previous" id="fetchPreviousUsersBtn" /><input type="submit" value="Next" id="fetchNextUsersBtn" />
    </div>
    <div id="results" style="padding: 10px;">
        <table id="users">
            <thead>
                <tr>
                    <th>Id</th><th>User Name</th><th>Company</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
