@{
   ViewBag.Title = "SESG User List";
}

@section scripts {
<script type="text/javascript" src="~/Scripts/sesg.users.client.js">
</script>

<script type="text/javascript" src="~/Scripts/sesg.users.pager.js">
</script>

<script type="text/javascript">
    var pager = null;
    var sesg_users_client = null;
    var apiUrl = 'http://jerome7/SESG.UserWebService';

    $(document).ready(function () {
        sesg_user_client = new SesgUserClient(apiUrl);
        pager = new SesgUserPager(sesg_user_client, gotUsers, getUsersError);
        
        $(".fetchNextUsersBtn").click(function () {
            showSpinner();
            pager.next();
        });
        $(".fetchPreviousUsersBtn").click(function () {
            showSpinner();
            pager.previous();
        });
        
        $(".fetchPreviousUsersBtn").parent().hide();
        showSpinner();
        pager.fetch();        
    });

    function disableButtons() {
        $(".fetchNextUsersBtn,.fetchPreviousUsersBtn").button('disable');
    }

    function enableButtons() {
        $(".fetchNextUsersBtn,.fetchPreviousUsersBtn").button('enable');
    }

    function showSpinner() {
        $.mobile.showPageLoadingMsg();
        disableButtons();
    }

    function hideSpinner() {
        $.mobile.hidePageLoadingMsg();
        enableButtons();
    }

    function gotUsers(data) {
        $ul = $("#usersList");
        $ul.empty();

        if (pager.index > 0) {
            $(".fetchPreviousUsersBtn").parent().show();
        }
        else {
            $(".fetchPreviousUsersBtn").parent().hide();
        }

        var users = data.users;
        var total = parseInt(data.total);
        var start = parseInt(data.offset) + 1;
        var count = parseInt(data.count);
        var end = start + count - 1;

        $.each(users, function (index, value) {
            var id = this.id;
            var userName = this.username;
            var company = this.company;
            var avatar = this.avatar;

            $li = $("<li data-role='option' data-theme='c'  />");
            $p = $("<p/>").text(userName);
            $li.append($p);
            $img = $("<img/>")
                    .attr('src', avatar)
                    .attr('width', '100px');
            $li.append($img);
            
            $ul.append($li);
        })

        $ul.listview('refresh');

        var txt = 'Showing ' + start + ' to ' + end + ' of ' + total.toLocaleString() + ' users';
        $("#userCount").text(txt);

        hideSpinner();
    }

    function getUsersError(sender, xhr, status, error) {
        hideSpinner();
        alert(error);
    }

    function gotUserCount(sender, data) {
        var count = data.count;
        var txt = 'Found ' + count + ' users';
        $("#userCount").text(txt);
    }

    function countUsersError(sender, xhr, status, error) {
    }
</script>
}

<div style="margin-bottom: 10px;">
    <div style="float: left;">
        <input type="submit" value="Previous" class="fetchPreviousUsersBtn" data-inline="true" />
    </div>
    <div style="float: right;">
        <input type="submit" value="Next" class="fetchNextUsersBtn" data-inline="true" />
    </div>
    <div style="clear:both;">

    </div>
</div>
<h4 id="userCount">
</h4>
<div id="results" style="margin: 10px;">
    <ul data-role="listview" id="usersList" data-autodividers="true" />
</div>
<div style="margin-top: 10px;">
    <div style="float: left;">
        <input type="submit" value="Previous" class="fetchPreviousUsersBtn" data-inline="true" />
    </div>
    <div style="float: right;">
        <input type="submit" value="Next" class="fetchNextUsersBtn" data-inline="true" />
    </div>
    <div style="clear:both;">
    </div>
</div>
