@{
   ViewBag.Title = "SESG Mobile App";
}

@section scripts {
}

<div id="body">
    <div><a href="@Url.Action("Index", "Users")">Users</a></div>
    <div><a href="@Url.Action("Index", "Messages")">Messages</a></div>
</div>
