@{
   ViewBag.Title = "SESG Mobile App";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}

<a href="@Url.Action("Index", "Users")" data-role="button" data-icon="grid">Users</a>
<a href="@Url.Action("Index", "Messages")" data-role="button" data-icon="star">Messages</a>