@{
   ViewBag.Title = "SESG Mobile App";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}

<a href="@Url.Action("Index", "Users")">Users</a>